.cover-img {
    background-image: url('src/assets/thumbnail.jpeg');
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 1200px) {
    .heading {
        position: absolute;
        margin-top: 1em;
        font-size: 4em;
    }
}

.heading {
    position: absolute;
    margin-top: 1em;
}

.cover-container {
    align-items: center;
}